.HearderappBarDialogShift {
  z-index: 999 !important;
  width: 100% !important;
}
.BTNTimeKeeptingADD {
  /* margin-left: 14% !important; */
}
.HearderappBarTimeKeeptingCN {
  /* z-index: 999 !important;
  width: 100% !important;
  display: none !important; */
}
.BTNTimeKeeptingCN {
  /* margin-left: 14% !important; */
}