/* ListTask */
.CustomListTask table thead tr th span {
  color: #1d1d1f !important;
  opacity: 0.9;
}
.CustomListTask table thead tr {
  padding: 0;
  height: 0;
}
.CustomListTask table thead tr th {
  padding: 0;
}
.CustomListTask table thead tr th span :hover {
  color: black !important;
  opacity: 1;
}

.CustomListTask table tbody tr td {
  color: #1d1d1f !important;
  padding: 0;
}
.CustomListTask {
  color: #1d1d1f;
}
.CustomIconListTask {
  color: #2196f3 !important ;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  border: 'none';
}

.CustomIconListTask:hover {
  background: #2196f3;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.CustomIconListTask:hover {
  color: #fff !important;
}

.CustomListTask table thead tr th span span input {
  width: 0 !important;
}
/* List*/
.HideCheck table  thead tr th div button span svg {
  display: none !important;
}
.HideCheck table  thead tr th div button {
  padding-left  : 56px ;
}


/* ListPage */
.CustomlistTable table thead tr th {
  color: #1d1d1f !important;
  opacity: 0.9;
  padding: 0 !important;
}

.CustomlistTable table thead tr th :hover {
  color: rgb(26, 20, 20) !important;
  opacity: 1;
}
/* .CustomlistTable table thead tr th :hover {
  color: black !important;
  opacity: 1;
} */

/* .MuiCheckbox-root-540 {
  color: rgba(10, 189, 4, 0.719);
} */

.CustomlistTable table tbody tr td {
  color: #1d1d1f !important;
  padding: 0;
}

.CustomlistTable table thead tr th span span input {
  width: 0 !important;
}
.k-reset {
  z-index: 99999999999 !important;
  /* margin-left: -1000px; */
  /* position: absolute; */
}

.k-list .k-item {
  z-index: 99999999999 !important;
}

.k-reset .k-status {
  z-index: 99999999999 !important;

}

.k-animation-container-shown {
  z-index: 99999999999 !important;

}
