.HearderappBarMeeting {
  z-index: 999 !important;
  width: 100% !important;
}
.BTNXX{
  // margin-left: 266px !important;
}

.HearderappBarIsMetting{
  z-index: 999 !important;
  width: 100% !important;
}
.BTNMETTING{
  margin-left: 0 !important;
}
.HearderappBarAddmeting {
  z-index: 1030 !important;
  width: 86.5% !important;
}